<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912409886024-og1jsn3snp5bsueuvao35rb31klrftdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912409886024-og1jsn3snp5bsueuvao35rb31klrftdu</string>
	<key>API_KEY</key>
	<string>AIzaSyBjMyjEjX-40DB6teg00TFrdvk48sW-ABo</string>
	<key>GCM_SENDER_ID</key>
	<string>912409886024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ge.tbcbank.The-Project</string>
	<key>PROJECT_ID</key>
	<string>the-project-7f140</string>
	<key>STORAGE_BUCKET</key>
	<string>the-project-7f140.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:912409886024:ios:605a29ba44de9137a7077d</string>
	<key>DATABASE_URL</key>
	<string>https://the-project-7f140.firebaseio.com</string>
</dict>
</plist>
